<form method="POST" action="/publication/create" enctype="multipart/form-data" class="mb-3">
  <div class="mb-3">
    <label class="form-label" for="input-message">Message</label>
    <textarea class="form-control" id="input-message" name="message"></textarea>
  </div>

  <div class="mb-3">
    <label class="form-label" for="input-picture">Picture <small>(optional)</small></label>
    <input class="form-control" id="input-picture" type="file" name="picture" />
  </div>

  <button class="btn btn-primary">Publish</button>
</form>
