<form method="POST" enctype="multipart/form-data">
  <label for="input-message">Message</label>
  <textarea id="input-message" name="message">{{publication.message}}</textarea>

  {{#if publication.picture}}
  <img src="{{publication.picture}}" alt="{{publication.message}}">
  {{/if}}
  <label for="input-picture">Picture <small>(optional)</small></label>
  <input id="input-picture" type="file" name="picture" />

  <button>Edit</button>
</form>

<form method="POST" action="/publication/{{publication._id}}/delete">
  <button>Delete</button>
</form>
